<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment_1.Properties.Settings.Product_Management_System_DBConnectionString"
            connectionString="Data Source=DESKTOP-CQTNRN5\SQLEXPRESS;Initial Catalog=Product_Management_System_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>